<div class="row justify-content-center">
  <div class="search-container input-group input-group-lg col-md-8">
    <div class="input-group-prepend">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-lg rounded-0 language-button" id="dropdownBasic1" ngbDropdownToggle>Language: {{ selectedLanguage }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let lang of availableLanguages | async" (click)="selectedLanguage=lang">{{ lang }}</button>
        </div>
      </div>
    </div>
    <input type="text" class="form-control search-input" placeholder="Enter a word..." #search (keyup.enter)="doSearch(selectedLanguage, search.value)" placement="top" ngbTooltip="For better results, please enter a single word without spaces." aria-label="Text input to search for the word translation">
    <button class="btn btn-lg rounded-0 search-button" (click)="doSearch(selectedLanguage, search.value)">Search</button>
  </div>
  <div class="similar-words-container col-md-8" *ngIf="!loading">
    <p class="search-term" *ngIf="searchTerm" (click)="openWordInfoModal(content, selectedLanguage, searchTerm)">
      Search Term: <span class="text-secondary">{{ searchTerm }}</span>
    </p>
    <table *ngIf="similarWords !== undefined" class="table table-hover table-dark table-fixed">
      <thead>
        <tr *ngIf="similarWords.length">
          <th scope="col">Similar Words</th>
          <th scope="col">Strength</th>
        </tr>
        <tr *ngIf="!similarWords.length">
          <th scope="col">There are no results!</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let similarWord of similarWords" (click)="openWordInfoModal(content, selectedLanguage, similarWord.word)">
          <td scope="row">{{ similarWord.word }}</td>
          <td><ngb-progressbar [showValue]="true" type="info" [value]="similarWord.strength * 100 | number : '1.2-2'"></ngb-progressbar></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-center" *ngIf="loading">
  <div class="col-md-8 mt-5 spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Word Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeWordInfoModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="wordInfo">
    <dl>
      <dt>
        Word
      </dt>
      <dd>
        {{ wordInfo.word }}
      </dd>
    </dl>
    <dl>
      <dt>
        Frequency
      </dt>
      <dd>
        {{ wordInfo.frequency }}
      </dd>
    </dl>
    <dl>
      <dt>
        Document Frequency
      </dt>
      <dd>
        {{ wordInfo.documentFrequency }}
      </dd>
    </dl>
    <dl>
      <dt>
        Absolute Rank
      </dt>
      <dd>
        {{ wordInfo.absoluteRank }}
      </dd>
    </dl>
    <dl>
      <dt>
        Relative Rank
      </dt>
      <dd>
        {{ wordInfo.relativeRank }}
      </dd>
    </dl>
    <dl>
      <dt>
        Vocabulary Size
      </dt>
      <dd>
        {{ wordInfo.vocabularySize }}
      </dd>
    </dl>
  </div>
  <div class="modal-body" *ngIf="modalError">
    <p>{{ modalError }}</p>
  </div>
  <div class="modal-body row justify-content-center" *ngIf="!wordInfo && !modalError">
    <div class="mt-2 spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeWordInfoModal(modal)">Close</button>
  </div>
</ng-template>